.pink{ color:#ff00ff;} 
.blue{ color:#0000ff;} 
.deepblue{ color:#000099;} 
.gray{ color:#999999;} 
.red{ color:#ff0000;} 
.black{ color:#000;} 
.white{ color:white;} 
.green{color:green;} 
.yellow{color:#FF7F00  }
.b_pink{ background:#ff00ff;} 
.b_blue{ background:#0000ff;} 
.b_deepblue{ background:#000099;} 
.b_gray{ background:#999999;} 
.b_red{ background:#ff0000;} 
.b_black{ background:#000;} 
.b_white{ background:white;} 
.b_green{background:green;} 
.b_yellow{background:#FF7F00;}